.fullBoard{
    width: 490px;
    height: 490px;
    border: 1px solid #111;
    margin: 100px auto;
    display: block;
    background: url("img/1.jpg") center;
}
.wordWhite{
    width: 410px;
    height: 40px;
    padding: 0 38px;
}

.wordBlack{
    width: 410px;
    height: 40px;
    padding: 0 38px;
    transform: rotate(180deg);
}
.wordCell{
    height: 30px;
    width: 50px;
    float: left;
    padding-top: 10px;
    text-align: center;
    color: aliceblue;
    text-shadow: black 2px 2px ;
}

.numberWhite{
    width: 40px;
    height: 410px;
    float: left;
    margin-top: 5px;
}

.numberBlack{
    width: 40px;
    height: 410px;
    float: right;
    transform: rotate(180deg);
}

.numCell{
    height: 30px;
    width: 40px;
    text-align: center;
    padding-top: 20px;
    color: aliceblue;
    text-shadow: black 2px 2px ;
}
.board {
    width: 400px;
    height: 400px;
    border: 5px solid #111;
    margin: 0 40px;
    background: url("img/2.jpg") center;
}
.boardCell {
    width: 40px;
    height: 40px;
    float: left;
    padding: 5px;
    text-align: center;
}

/*.boardCell img{
    width: 40px;
    height: 40px;
}*/
.cellBlack {
    background: url("img/3.jpg");
}